        @media only screen and (min-width:200px) and (max-width:575px){
        
        header{

            flex-direction: column;
            align-items: stretch;
            padding: 10px;
            gap: 15px;
            
        }
        .headerLeft{
            justify-content: center;
        }
        .logo{
            padding: 10px;
        }
        .headerAddress{
            padding: 10px;
        }
        .headerAddress p{
            font-size: 12px;
        }
        .headerAddress h3{
            font-size: 15px;
        }
        .searchBox button{
            padding: 10px;
        }
        .headerBtn{
            position: fixed;
            width: 100%;
            margin-right: 0px;
            bottom: 0px;
            justify-content: center;
            background-color: white;
        }
        .orderBanner{
            flex-direction: column;
            padding: 10px;
        }
        .categoryItems{
            flex-basis: 25%;
        }
        .productSection{
            padding: 30px 5px;
        }
        .productItems{
            flex-basis: 20%;
        }
        .footer{
            padding-top: 0px;
        }
        .footer-mid-row1{
            padding: 10px;
            flex-direction: column;
        }
    }
              


